{{- if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "microservice.fullname" . }}
  labels:
    {{- include "microservice.labels" . | nindent 4 }}
spec:
  {{- if not .Values.hpa.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  {{- with .Values.deploymentStrategy }}
  strategy:
    type: {{ .type | default "RollingUpdate" }}
    {{- if eq .type "RollingUpdate" }}
    rollingUpdate:
      {{- with .rollingUpdate }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
    {{- end }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "microservice.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "microservice.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "microservice.serviceAccountName" . }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automount }}
      {{- with .Values.podSecurityContext  }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      restartPolicy: {{ .Values.restartPolicy }}
      {{- if .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- end }}
      {{- if and .Values.initContainers (gt (len .Values.initContainers) 0) }}
      initContainers:
        {{- toYaml .Values.initContainers | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.args }}
          args:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or .Values.envFrom .Values.configMaps.env.enabled }}
          envFrom:
            {{- with .Values.envFrom }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- if .Values.configMaps.env.enabled }}
            - configMapRef:
                name: {{ default (printf "%s-env" (include "microservice.fullname" .)) .Values.configMaps.env.name }}
            {{- end }}
          {{- end }}
          {{- if and .Values.service.enabled .Values.service.ports }}
          ports:
            {{- range .Values.service.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
              protocol: {{ .protocol | upper | default "TCP" }}
            {{- end }}
          {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          {{- if or .Values.volumeMounts .Values.configMaps.files.enabled .Values.configMaps.binaryFiles.enabled .Values.pvc.enabled }}
          volumeMounts:
            {{- if .Values.configMaps.files.enabled }}
            - name: config-files
              mountPath: {{ .Values.configMaps.files.mountPath }}
              readOnly: true
            {{- end }}
            {{- if .Values.configMaps.binaryFiles.enabled }}
            - name: config-binary-files
              mountPath: {{ .Values.configMaps.binaryFiles.mountPath }}
              readOnly: true
            {{- end }}
            {{- if .Values.pvc.enabled }}
            - name: data
              mountPath: {{ .Values.pvc.mountPath }}
            {{- end }}
            {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
        {{- if and .Values.sidecars (gt (len .Values.sidecars) 0) }}
        {{- toYaml .Values.sidecars | nindent 8 }}
        {{- end }}
      {{- if or .Values.volumes .Values.configMaps.files.enabled .Values.configMaps.binaryFiles.enabled .Values.pvc.enabled }}
      volumes:
        {{- if .Values.configMaps.files.enabled }}
        - name: config-files
          configMap:
            name: {{ default (printf "%s-files" (include "microservice.fullname" .)) .Values.configMaps.files.name }}
        {{- end }}
        {{- if .Values.configMaps.binaryFiles.enabled }}
        - name: config-binary-files
          configMap:
            name: {{ default (printf "%s-binary-files" (include "microservice.fullname" .)) .Values.configMaps.binaryFiles.name }}
        {{- end }}
        {{- if .Values.pvc.enabled }}
        - name: data
          persistentVolumeClaim:
            claimName: {{ default (include "microservice.fullname" .) .Values.pvc.name }}
        {{- end }}
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
