{{- if and .Values.enabled .Values.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservice.fullname" . }}
  labels:
    {{- include "microservice.labels" . | nindent 4 }}
spec:
  ports:
    {{- range .Values.service.ports }}
    - name: {{ .name }}
      port: {{ .port }}
      targetPort: {{ default .port .containerPort }}
      protocol: {{ default "TCP" .protocol | upper }}
    {{- end }}
  selector:
    {{- include "microservice.selectorLabels" . | nindent 4 }}
  type: {{ .Values.service.type }}
{{- end }}
